USE [ClinicaVeterinariaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarHorarioVeterinario]    Script Date: 11/12/2025 10:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE sp_ActualizarHorarioVeterinario
    @idHorario INT,
    @idVeterinario INT,
    @diaSemana NVARCHAR(15),
    @horaInicio INT,
    @horaFin INT,
    @disponible BIT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @horaInicioTime TIME = CAST(FORMAT(@horaInicio, '00') + ':00:00' AS TIME);
    DECLARE @horaFinTime TIME = CAST(FORMAT(@horaFin, '00') + ':00:00' AS TIME);
    
    UPDATE HorariosVeterinarios
    SET 
        idVeterinario = @idVeterinario,
        diaSemana = @diaSemana,
        horaInicio = @horaInicioTime,
        horaFin = @horaFinTime,
        disponible = @disponible
    WHERE idHorario = @idHorario;
    
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO