USE [ClinicaVeterinariaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarVeterinario]    Script Date: 10/12/2025 19:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ActualizarVeterinario]
    @idVeterinario INT,
    @idUsuario INT,
    @especialidad NVARCHAR(100),
    @estado BIT,
    @nombres NVARCHAR(100),
    @apellidoPaterno NVARCHAR(100),
    @apellidoMaterno NVARCHAR(100),
    @tipoDocumento NVARCHAR(20),
    @numeroDocumento NVARCHAR(20),
    @celular NVARCHAR(20),
    @direccion NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Veterinarios
    SET 
        idUsuario = @idUsuario,
        especialidad = @especialidad,
        estado = @estado,
        nombres = @nombres,
        apellidoPaterno = @apellidoPaterno,
        apellidoMaterno = @apellidoMaterno,
        tipoDocumento = @tipoDocumento,
        numeroDocumento = @numeroDocumento,
        celular = @celular,
        direccion = @direccion
    WHERE idVeterinario = @idVeterinario;

    SELECT @@ROWCOUNT AS RowsAffected;
END

