USE [ClinicaVeterinariaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarHorarioVeterinario]    Script Date: 11/12/2025 10:26:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE sp_EliminarHorarioVeterinario
    @idHorario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM HorariosVeterinarios
    WHERE idHorario = @idHorario;
    
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO