USE [ClinicaVeterinariaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarVeterinario]    Script Date: 10/12/2025 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertarVeterinario]
    @idUsuario INT,
    @especialidad NVARCHAR(100),
    @estado BIT,
    @nombres NVARCHAR(100),
    @apellidoPaterno NVARCHAR(100),
    @apellidoMaterno NVARCHAR(100),
    @tipoDocumento NVARCHAR(20),
    @numeroDocumento NVARCHAR(20),
    @celular NVARCHAR(20),
    @direccion NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Veterinarios(
        idUsuario,
        especialidad,
        estado,
        nombres,
        apellidoPaterno,
        apellidoMaterno,
        tipoDocumento,
        numeroDocumento,
        celular,
        direccion
    )
    VALUES(
        @idUsuario,
        @especialidad,
        @estado,
        @nombres,
        @apellidoPaterno,
        @apellidoMaterno,
        @tipoDocumento,
        @numeroDocumento,
        @celular,
        @direccion
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewId;
END

