USE [ClinicaVeterinariaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarHorarioVeterinario]    Script Date: 11/12/2025 10:20:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE sp_InsertarHorarioVeterinario
    @idVeterinario INT,
    @diaSemana NVARCHAR(15),
    @horaInicio INT,
    @horaFin INT,
    @disponible BIT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @horaInicioTime TIME = CAST(FORMAT(@horaInicio, '00') + ':00:00' AS TIME);
    DECLARE @horaFinTime TIME = CAST(FORMAT(@horaFin, '00') + ':00:00' AS TIME);
    
    INSERT INTO HorariosVeterinarios (idVeterinario, diaSemana, horaInicio, horaFin, disponible)
    VALUES (@idVeterinario, @diaSemana, @horaInicioTime, @horaFinTime, @disponible);
    
    SELECT SCOPE_IDENTITY() AS nuevoId;
END
GO