USE [ClinicaVeterinariaDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ListarHorariosVeterinarios]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        h.idHorario,
        h.idVeterinario,
        h.diaSemana,
        DATEPART(HOUR, h.horaInicio) AS horaInicio,
        DATEPART(HOUR, h.horaFin) AS horaFin,
        h.disponible,
        CONCAT(v.nombres, ' ', v.apellidoPaterno, ' ', v.apellidoMaterno) AS nombreVeterinario
    FROM HorariosVeterinarios h
    INNER JOIN Veterinarios v ON h.idVeterinario = v.idVeterinario
    WHERE v.estado = 1
    ORDER BY 
        v.nombres,
        CASE h.diaSemana
            WHEN 'Lunes' THEN 1
            WHEN 'Martes' THEN 2
            WHEN 'Miercoles' THEN 3
            WHEN 'Jueves' THEN 4
            WHEN 'Viernes' THEN 5
            WHEN 'Sabado' THEN 6
            ELSE 7
        END,
        h.horaInicio;
END
GO
