USE [ClinicaVeterinariaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarVeterinarios]    Script Date: 10/12/2025 19:34:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE sp_ListarVeterinarios
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        idVeterinario,
        idUsuario,
        especialidad,
        estado,
        nombres,
        apellidoPaterno,
        apellidoMaterno,
        tipoDocumento,
        numeroDocumento,
        celular,
        direccion
    FROM Veterinarios
    ORDER BY idVeterinario;
END
