USE [ClinicaVeterinariaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerHorarioVeterinarioPorId]    Script Date: 11/12/2025 10:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE sp_ObtenerHorarioVeterinarioPorId
    @idHorario INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        h.idHorario,
        h.idVeterinario,
        h.diaSemana,
        DATEPART(HOUR, h.horaInicio) AS horaInicio,
        DATEPART(HOUR, h.horaFin) AS horaFin,
        h.disponible,
        CONCAT(v.nombres, ' ', v.apellidoPaterno, ' ', v.apellidoMaterno) AS nombreVeterinario
    FROM HorariosVeterinarios h
    INNER JOIN Veterinarios v ON h.idVeterinario = v.idVeterinario
    WHERE h.idHorario = @idHorario;
END
GO