USE [ClinicaVeterinariaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerVeterinarioPorId]    Script Date: 10/12/2025 19:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ObtenerVeterinarioPorId]
    @idVeterinario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        idVeterinario,
        idUsuario,
        especialidad,
        estado,
        nombres,
        apellidoPaterno,
        apellidoMaterno,
        tipoDocumento,
        numeroDocumento,
        celular,
        direccion
    FROM Veterinarios
    WHERE idVeterinario = @idVeterinario;
END

