USE [ClinicaVeterinariaDB]
GO
/****** Object:  Table [dbo].[ChatBot]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatBot](
	[idPregunta] [int] IDENTITY(1,1) NOT NULL,
	[pregunta] [nvarchar](200) NOT NULL,
	[respuesta] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[idCita] [int] IDENTITY(1,1) NOT NULL,
	[idMascota] [int] NOT NULL,
	[idServicio] [int] NOT NULL,
	[idVeterinario] [int] NOT NULL,
	[fechaCita] [date] NOT NULL,
	[horaCita] [time](7) NOT NULL,
	[estado] [nvarchar](30) NULL,
	[fechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellidoPaterno] [nvarchar](100) NOT NULL,
	[apellidoMaterno] [nvarchar](100) NOT NULL,
	[tipoDocumento] [nvarchar](20) NULL,
	[numeroDocumento] [nvarchar](20) NOT NULL,
	[celular] [nvarchar](20) NULL,
	[direccion] [nvarchar](150) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especies]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especies](
	[idEspecie] [int] IDENTITY(1,1) NOT NULL,
	[nombreEspecie] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEspecie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorariosVeterinarios]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorariosVeterinarios](
	[idHorario] [int] IDENTITY(1,1) NOT NULL,
	[idVeterinario] [int] NOT NULL,
	[diaSemana] [nvarchar](15) NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NOT NULL,
	[disponible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascotas](
	[idMascota] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[idEspecie] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[raza] [nvarchar](100) NULL,
	[edad] [int] NULL,
	[peso] [decimal](5, 2) NULL,
	[sexo] [nvarchar](10) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[idServicio] [int] IDENTITY(1,1) NOT NULL,
	[nombreServicio] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](250) NULL,
	[precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[idTicket] [int] IDENTITY(1,1) NOT NULL,
	[idCita] [int] NOT NULL,
	[codigoTicket]  AS ('TCK-'+right('0000'+CONVERT([varchar](4),[idTicket]),(4))) PERSISTED,
	[fechaEmision] [datetime] NULL,
	[montoTotal] [decimal](10, 2) NOT NULL,
	[metodoPago] [nvarchar](20) NULL,
	[estado] [nvarchar](20) NULL,
	[fechaPago] [datetime] NULL,
	[observaciones] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nvarchar](100) NOT NULL,
	[contrasena] [nvarchar](100) NOT NULL,
	[rol] [nvarchar](30) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veterinarios]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veterinarios](
	[idVeterinario] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[especialidad] [nvarchar](100) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idVeterinario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[HorariosVeterinarios] ADD  DEFAULT ('08:00') FOR [horaInicio]
GO
ALTER TABLE [dbo].[HorariosVeterinarios] ADD  DEFAULT ('18:00') FOR [horaFin]
GO
ALTER TABLE [dbo].[HorariosVeterinarios] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[Mascotas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [fechaEmision]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Veterinarios] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Mascotas] FOREIGN KEY([idMascota])
REFERENCES [dbo].[Mascotas] ([idMascota])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Mascotas]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Servicios] FOREIGN KEY([idServicio])
REFERENCES [dbo].[Servicios] ([idServicio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Servicios]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Veterinarios] FOREIGN KEY([idVeterinario])
REFERENCES [dbo].[Veterinarios] ([idVeterinario])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Veterinarios]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Usuarios]
GO
ALTER TABLE [dbo].[HorariosVeterinarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Veterinarios] FOREIGN KEY([idVeterinario])
REFERENCES [dbo].[Veterinarios] ([idVeterinario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HorariosVeterinarios] CHECK CONSTRAINT [FK_Horarios_Veterinarios]
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD  CONSTRAINT [FK_Mascotas_Clientes] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Clientes] ([idCliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mascotas] CHECK CONSTRAINT [FK_Mascotas_Clientes]
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD  CONSTRAINT [FK_Mascotas_Especies] FOREIGN KEY([idEspecie])
REFERENCES [dbo].[Especies] ([idEspecie])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mascotas] CHECK CONSTRAINT [FK_Mascotas_Especies]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Citas] FOREIGN KEY([idCita])
REFERENCES [dbo].[Citas] ([idCita])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Citas]
GO
ALTER TABLE [dbo].[Veterinarios]  WITH CHECK ADD  CONSTRAINT [FK_Veterinarios_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Veterinarios] CHECK CONSTRAINT [FK_Veterinarios_Usuarios]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD CHECK  (([estado]='Completada' OR [estado]='Cancelada' OR [estado]='Atendida' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD CHECK  (([tipoDocumento]='Carnet de Extranjería' OR [tipoDocumento]='DNI'))
GO
ALTER TABLE [dbo].[HorariosVeterinarios]  WITH CHECK ADD CHECK  (([diaSemana]='Sabado' OR [diaSemana]='Viernes' OR [diaSemana]='Jueves' OR [diaSemana]='Miercoles' OR [diaSemana]='Martes' OR [diaSemana]='Lunes'))
GO
ALTER TABLE [dbo].[Mascotas]  WITH CHECK ADD CHECK  (([sexo]='Hembra' OR [sexo]='Macho'))
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD CHECK  (([estado]='Cancelado' OR [estado]='Pagado' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD CHECK  (([metodoPago]='Tarjeta' OR [metodoPago]='Yape' OR [metodoPago]='Efectivo'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([rol]='Veterinario' OR [rol]='Cliente' OR [rol]='Administrador'))
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarChatBot]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarChatBot]
    @idPregunta INT,
    @pregunta NVARCHAR(200),
	@respuesta NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ChatBot
    SET pregunta = @pregunta,
        respuesta = @respuesta
    WHERE idPregunta = @idPregunta;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCita]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarCita]
    @idCita INT,
    @idMascota INT,
    @idServicio INT,
    @idVeterinario INT,
    @fechaCita DATE,
    @horaCita TIME,
    @estado NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Citas
    SET idMascota = @idMascota,
        idServicio = @idServicio,
        idVeterinario = @idVeterinario,
        fechaCita = @fechaCita,
        horaCita = @horaCita,
        estado = @estado
    WHERE idCita = @idCita;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarMascota]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarMascota]
    @idMascota INT,
    @idCliente INT,
    @idEspecie INT,
    @nombre NVARCHAR(100),
    @raza NVARCHAR(100),
    @edad INT,
    @peso DECIMAL(5,2),
    @sexo NVARCHAR(10),
    @estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Mascotas
    SET idCliente = @idCliente,
        idEspecie = @idEspecie,
        nombre = @nombre,
        raza = @raza,
        edad = @edad,
        peso = @peso,
        sexo = @sexo,
        estado = @estado
    WHERE idMascota = @idMascota;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarServicio]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarServicio]
    @idServicio INT,
    @nombreServicio NVARCHAR(100),
    @descripcion NVARCHAR(250),
    @precio DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Servicios
    SET nombreServicio = @nombreServicio,
        descripcion = @descripcion,
		precio = @precio
    WHERE idServicio = @idServicio;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @idUsuario INT,
    @nombreUsuario NVARCHAR(100),
    @contrasena NVARCHAR(100),
    @rol NVARCHAR(30),
    @estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuarios
    SET nombreUsuario = @nombreUsuario,
        contrasena = @contrasena,
        rol = @rol,
        estado = @estado
    WHERE idUsuario = @idUsuario;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarChatBot]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarChatBot]
    @idPregunta INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM ChatBot WHERE idPregunta = @idPregunta;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCita]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarCita]
    @idCita INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Citas WHERE idCita = @idCita;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarMascota]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarMascota]
    @idMascota INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Mascotas WHERE idMascota = @idMascota;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarServicio]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarServicio]
    @idServicio INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Servicios WHERE idServicio = @idServicio;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarUsuario]
    @idUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Usuarios WHERE idUsuario = @idUsuario;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarChatBot]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarChatBot]	    	 
	@pregunta NVARCHAR(200),
	@respuesta NVARCHAR(500)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO ChatBot(pregunta,respuesta)		
	VALUES(@pregunta,@respuesta);

	SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewId;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCita]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarCita]
    @idMascota INT,
    @idServicio INT,
    @idVeterinario INT,
    @fechaCita DATE,
    @horaCita TIME,
    @estado NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Citas(idMascota, idServicio, idVeterinario, fechaCita, horaCita, estado)
    VALUES(@idMascota, @idServicio, @idVeterinario, @fechaCita, @horaCita, @estado);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarMascota]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarMascota]
    @idCliente INT,
    @idEspecie INT,
    @nombre NVARCHAR(100),
    @raza NVARCHAR(100),
    @edad INT,
    @peso DECIMAL(5,2),
    @sexo NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Mascotas(idCliente, idEspecie, nombre, raza, edad, peso, sexo)
    VALUES(@idCliente, @idEspecie, @nombre, @raza, @edad, @peso, @sexo);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarServicio]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarServicio]
    @nombreServicio NVARCHAR(100),
    @descripcion NVARCHAR(250),
    @precio DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Servicios(nombreServicio, descripcion, precio)
    VALUES(@nombreServicio,@descripcion,@precio);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUsuario]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarUsuario]
    @nombreUsuario NVARCHAR(100),
    @contrasena NVARCHAR(100),
    @rol NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Usuarios(nombreUsuario, contrasena, rol)
    VALUES(@nombreUsuario, @contrasena, @rol);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarChatBot]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarChatBot]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idPregunta, pregunta, respuesta
    FROM ChatBot ORDER BY idPregunta;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCitas]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarCitas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        C.idCita,
        C.fechaCita,
        C.horaCita,
        C.estado,
        C.fechaRegistro,

        M.idMascota,
        M.nombre AS NombreMascota,

        S.idServicio,
        S.nombreServicio,

        V.idVeterinario,
        V.especialidad
    FROM Citas C
    INNER JOIN Mascotas M ON C.idMascota = M.idMascota
    INNER JOIN Servicios S ON C.idServicio = S.idServicio
    INNER JOIN Veterinarios V ON C.idVeterinario = V.idVeterinario
    ORDER BY C.idCita;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMascotas]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarMascotas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idMascota, idCliente, idEspecie, nombre, raza, edad, peso, sexo, estado
    FROM Mascotas
    ORDER BY idMascota;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarServicios]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarServicios]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idServicio, nombreServicio, descripcion, precio
    FROM Servicios ORDER BY idServicio;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuarios]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarUsuarios]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idUsuario, nombreUsuario, contrasena, rol, estado
    FROM Usuarios ORDER BY idUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Login]
    @usuario NVARCHAR(100),
    @contrasena NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idUsuario, nombreUsuario, rol
    FROM Usuarios
    WHERE nombreUsuario = @usuario
      AND contrasena = @contrasena
      AND estado = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerChatBotPorId]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerChatBotPorId]
    @idPregunta INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idPregunta, pregunta, respuesta
    FROM ChatBot WHERE idPregunta = @idPregunta;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerCitaPorId]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerCitaPorId]
    @idCita INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        C.idCita,
        C.fechaCita,
        C.horaCita,
        C.estado,
        C.fechaRegistro,

        M.idMascota,
        M.nombre AS NombreMascota,

        S.idServicio,
        S.nombreServicio,

        V.idVeterinario,
        V.especialidad
    FROM Citas C
    INNER JOIN Mascotas M ON C.idMascota = M.idMascota
    INNER JOIN Servicios S ON C.idServicio = S.idServicio
    INNER JOIN Veterinarios V ON C.idVeterinario = V.idVeterinario
    WHERE C.idCita = @idCita;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerMascotaPorId]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerMascotaPorId]
    @idMascota INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idMascota, idCliente, idEspecie, nombre, raza, edad, peso, sexo, estado
    FROM Mascotas
    WHERE idMascota = @idMascota;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerServicioPorId]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerServicioPorId]
    @idServicio INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idServicio, nombreServicio, descripcion, precio
    FROM Servicios WHERE idServicio = @idServicio;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuarioPorId]    Script Date: 08/12/2025 21:22:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerUsuarioPorId]
    @idUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT idUsuario, nombreUsuario, contrasena, rol, estado
    FROM Usuarios WHERE idUsuario = @idUsuario;
END
GO
